.cart-widget {
  position: relative;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff
}

.container-icon {
  position: relative;
  color: #fff
}

.container-cart-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  color: #fff
}

.container-cart-icon:hover {
  transform: scale(1.1);
  color: #fff
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #ffffff;
  color: #fff
}

.icon-cart:hover {
  cursor: pointer;
  color: #fff
}

.count-products {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contador-productos {
  font-size: 14px;
  color: #fff
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgb(255, 255, 255);
  border-radius: 10px;
  display: none;
  font-family: Arial, sans-serif;
  text-align: left;
  color: #fff
}

.container-cart-products.open-cart {
  display: block;
  color: #fff
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
  color: #fff
}

.titulo-producto-carrito {
  font-size: 18px;
  color: #fff;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
  color: #fff
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 18px;
  color: #fff
}

.icon-close {
  width: 25px;
  height: 25px;
  stroke: white;
  cursor: pointer;
}

.icon-close:hover {
  transform: scale(1.1);
  color: #fff
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff
}

.total-pagar {
  font-size: 18px;
  font-weight: 900;
  color: #fff
}

.hidden-cart {
  display: none;
  color: #fff
}

.btn-clear-all {
  border: none;
  background-color: white;
  color: #fff;
  padding: 10px 15px;
  display: block;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-clear-all:hover {
  background-color: white;
  transform: scale(1.03);
  border-radius: 0;
  color: #fff
}

.cart-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  width: 300px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  padding: 20px;
  border: 1px solid #ccc; 
  font-family: Arial, sans-serif; 
}

.cart-content h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff; 
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #fff; 
}

.cart-product img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px; 
}

.cart-product .product-info {
  flex: 1;
  margin-left: 10px;
  color: #fff
}

.cart-product .product-info h4 {
  font-size: 16px;
  margin: 0;
  color: #fff
}

.cart-product .product-info p {
  font-size: 14px;
  color: #ffffff; 
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: #fff
}

.cart-total h3 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff; 
}

.cart-total .total-pagar {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.btn-clear-all {
  border: none;
  background-color: white; 
  color: white;
  padding: 10px 15px;
  display: block;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px; 
  font-family: Arial, sans-serif;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-clear-all:hover {
  background-color: #ffffff; 
  transform: scale(1.03);
  border-radius: 0;
  color: #fff;
}

