header {
    width: 100;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .header-title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
  }
  
  .cart-container {
    position: relative;
  }
  
  .cart-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .icon-cart {
    width: 24px;
    height: 24px;
    fill: #FF5733;
    margin-right: 5px;
    transition: transform 0.3s ease;
  }
  
  .cart-count {
    background-color: #FF5733;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  
  .cart-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: 220px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    padding: 10px;
  }
  
  .open-cart {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .cart-empty {
    text-align: center;
    padding: 10px;
  }
  
  .icon-cart:hover {
    transform: scale(1.1);
  }
  